



.col5{
width: 20%;
float: left;
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}

html,body {
  padding:0;
  margin:0;
  height:80%;
  min-height:80%;
 }

.quarter{
  width:50%;
  height:100%;
  float:left;
}
.contents
{
  height:50%;
  width:100%;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}


      #resume-showing
       {
             display: none;
        }

      .clickable
       {
             cursor: pointer;
             color: #0088cc;
        }

     .clickable:hover
       {
             text-decoration: underline;
       }

       .myButton {
       	-moz-box-shadow: 9px 9px 2px 2px #899599;
       	-webkit-box-shadow: 9px 9px 2px 2px #899599;
       	box-shadow: 9px 9px 2px 2px #899599;
       	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #1aeded));
       	background:-moz-linear-gradient(top, #ededed 5%, #1aeded 100%);
       	background:-webkit-linear-gradient(top, #ededed 5%, #1aeded 100%);
       	background:-o-linear-gradient(top, #ededed 5%, #1aeded 100%);
       	background:-ms-linear-gradient(top, #ededed 5%, #1aeded 100%);
       	background:linear-gradient(to bottom, #ededed 5%, #1aeded 100%);
       	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#1aeded',GradientType=0);
       	background-color:#ededed;
       	-moz-border-radius:42px;
       	-webkit-border-radius:42px;
       	border-radius:42px;
       	border:5px solid #000000;
       	display:inline-block;
       	cursor:pointer;
       	color:#090a0a;
       	font-family:Courier New;
       	font-size:28px;
       	font-weight:bold;
       	padding:32px 76px;
       	text-decoration:none;
       	text-shadow:0px 4px 4px #e1e2ed;
       }
       .myButton:hover {
       	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1aeded), color-stop(1, #ededed));
       	background:-moz-linear-gradient(top, #1aeded 5%, #ededed 100%);
       	background:-webkit-linear-gradient(top, #1aeded 5%, #ededed 100%);
       	background:-o-linear-gradient(top, #1aeded 5%, #ededed 100%);
       	background:-ms-linear-gradient(top, #1aeded 5%, #ededed 100%);
       	background:linear-gradient(to bottom, #1aeded 5%, #ededed 100%);
       	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1aeded', endColorstr='#ededed',GradientType=0);
       	background-color:#1aeded;
       }
       .myButton:active {
       	position:relative;
       	top:1px;
       }

       h2
       {
         color: #1aeded;
         font-family:Courier New;
       }

       p
       {
         font-family:Courier New;
       }

       .active
       {
         color: #1aeded;
       }

       #myPhoto
       {
         width:200px;
       	 height:200px;
         margin:0 auto;
         display: block;
         position: relative;
         border: solid;
         margin-top: 50%;
       }


       #f1_container {
  position: relative;
  margin: 0px auto;
  display: block;
  width: 200px;
  height: 200px;

}
#f1_container
{
  perspective: 1000;
}
#f1_card
{
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

#f1_container:hover #f1_card
 {
  transform: rotateY(180deg);
 }

.face
{
  position: absolute;
  width: 200px;
  height: 200px`;
  backface-visibility: hidden;
}

.face.back
{
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: black;
  text-align: center;
  background-color: #8effff;
  border: solid;
}

h5
{
  font-family:Courier New;
  color: black;
  font-size: 18px;

}
